.board-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90%;
}

.board-page-player-table {
  display: flex;
  justify-content: center;
  align-items: center;
}

.board-cell {
  font-weight: 100;
}

.board-player-row {
  background-color: aquamarine;
}

.board-page-title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding-top: 10px;
}

.board-page-player-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  padding-bottom: 40px;
}

.board-page-player-card {
  min-width: 80%;
  max-width: 95%;
  display: flex;
  justify-content: center;
  margin: 30px;
  padding: 10px;
}


@media only screen and (max-width: 400px) {
  .board-cell {
    font-size: 14px;
  }
  .board-cell-title {
    font-size: 16px;
  }
}