.board-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.board-page-player-table {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 400px;
  max-width: 850px;
}

.board-page-player-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.board-page-player-card {
  min-width: 80%;
  display: flex;
  justify-content: center;
}