html, body, #app, #app>div {
  height: 100%;
  width: 100%;
}

#root {
  width: 100%;
}

.card-page-container {
  height: 100%;
  width: 100%;
  display: flex;
}

.card-start-button {
  width: 60%;
  padding-top: 25px;
}

.waiting-turn-message-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: auto;
  height: 80%;
  padding-bottom: 15%;
}

.display-card-container {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 15%;
}

.words-to-guess {
  margin-bottom: 100px;
  font-size: calc(12px + 1vmin);
}

.buttons {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  bottom: 60px;
  display: flex;
  justify-content: center;
}

.correct-card-count {
  position: absolute;
  bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card-word-styling {
    /* Prefix required. Even Firefox only supports the -webkit- prefix */
  color: white;
  text-transform: none;
}

.skipped-word-button {
  text-align: left;
  background-color: transparent;
  border: transparent;
}

.skip-words {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
}

.skip-words-container:hover {
  cursor: pointer;
}