body {
  /* background-color: #282c34; */
  background-color: white;
  display: flex;
  justify-content: center;
}

.App-header {
  font-size: calc(16px + 1vmin);
  color: #282c34;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.App {
  flex-direction: column;
  display: flex;
  justify-content: center;
  height: 80vh; 
  width: 100vw;
}

.GameOptions {
  display: flex;
  justify-content: center;
}

.RoomDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.RoomDetailsButtons {
  padding-top: 15px;
  display: flex;
  justify-content: center;
}

.RoomDetailsInputs {
  display: flex;
  justify-content: center;
  width: 70%;
}