.home-page-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 90%;
}

.instructions-slideshow {
  display: flex;
  flex: 3;
}

.join-game-error-message {
  text-align: center;
  color: red;
}

.home-page-card {
  width: 35vw;
  transition-duration: 0.3s;
}

.welcome-header-and-options {
  display: flex;
  flex: 2;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.room-details-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.start-new-game-form {
  width: 80%;
}

.RoomDetailsButtons {
  display: flex;
  flex-direction: row;
}

.room-form-input {
  width: 100%;
}

.card-room-details {
  width: 35vw;
}

.card-room-actions {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.card-room-buttons {
  display: flex;
  flex-direction: row;
  justify-content : center;
  width: 100%;
}

.card-room-line {
  width: 95%;
  color: gray;
  margin-bottom: 20px;
}

.card-room-line {
  color: gray;
  background-color: gray;
  height: 5;
}

.home-page-button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

@media screen and (max-width: 850px) {
  .instructions-slideshow {
      display: none !important;
  }
  .game-options {
    display: flex;
    justify-content: center;
    align-content: center;
  }
  .join-game-options {
    display: flex;
    justify-content: center;
    align-content: center;
  }
  .card-room-details {
    width: 70vw;
  }
  .home-page-card {
    width: 70vw;
  }  
}
