body {
  background-color: white;
  display: flex;
  justify-content: center;
}

.App-header {
  font-size: calc(16px + 1vmin);
  color: #282c34;
  display: flex;
  justify-content: center;
  text-align: center;
}

.App {
  flex-direction: column;
  display: flex;
  justify-content: center;
  height: 80vh; 
  width: 100vw;
}

.GameOptions {
  display: flex;
  justify-content: center;
}

.room-details-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.RoomDetailsButtons {
  display: flex;
  flex-direction: row;
}

.room-form-input {
  width: 100%;
  padding: 10px;
  margin: 10px;
}

.card-room-details {
  margin-left: auto;
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: auto;
  min-width: 400px;
}

.card-room-actions {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.card-room-buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.card-room-line {
  width: 95%;
  color: gray;
  margin-bottom: 20px;
}

.card-room-line {
  color: gray;
  background-color: gray;
  height: 5;
}

.card-room-back {
  margin-bottom: 0;
  padding-top: 10px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}