.title {
  display: flex;
  white-space: pre-wrap;
  justify-content: center;
  text-align: center;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 2.5vw;
}

.room-code {
  display: flex;
  white-space: pre-wrap;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  font-size: 2.5vw;
}

.container {
  display: flex;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.host-player-table {
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-width: 40vw; */
}

.host-player-list {
  display: flex;
  white-space: pre-wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 2vw;
  padding-top: 20px;
}

.table-cell {
  font-size: 2vw;
}

.start-game-button {
  display: flex;
  white-space: pre-wrap;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  padding-top: 20px;
  width: 50%;
  height: 30px;
}

body {
  display: flex;
}
