.title {
  display: flex;
  white-space: pre-wrap;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.container {
  display: flex;
  height: 80%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.host-player-table {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 400px;
}

.host-player-list {
  display: flex;
  white-space: pre-wrap;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.room-code {
  display: flex;
  white-space: pre-wrap;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.start-game-button {
  display: flex;
  white-space: pre-wrap;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  padding-top: 20px;
}

body {
  display: flex;
}
