.title {
  display: flex;
  white-space: pre-wrap;
  justify-content: center;
  flex-direction: row;
}

.roomCode {
  display: flex;
  white-space: pre-wrap;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.playerList {
  display: flex;
  white-space: pre-wrap;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.startGameButton {
  display: flex;
  white-space: pre-wrap;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

body {
  display: flex;
}
