.player-lobby-container {
  display: flex;
  flex: 1;
  height: 80%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

.player-table {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  max-width: 300px;
}

.player-list {
  display: flex;
  white-space: pre-wrap;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.player-ready-button {
  padding-top: 20px;
  width: 100%;
}

.player-lobby-text {
  width: 90%;
}