.player-lobby-container {
  display: flex;
  flex: 1;
  height: 80%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

.player-ready-button {
  width: 100%;
}

.player-lobby-text {
  width: 90%;
}