body {
  /* background-color: #282c34; */
  background-color: white;
  display: flex;
  justify-content: center;
}

.App-header {
  font-size: calc(20px + 2vmin);
  color: #282c34;
  /* color: white; */
  display: flex;
  justify-content: center;
}

.App {
  flex-direction: column;
  display: flex;
  justify-content: center;
  height: 80vh; 
}

.GameOptions {
  display: flex;
  justify-content: space-around;
}

.RoomInputForm {
  display: flex;
  justify-content: space-around;
}