body {
  /* background-color: #282c34; */
  background-color: white;
  display: flex;
  justify-content: center;
}

.App-header {
  font-size: calc(20px + 2vmin);
  color: #282c34;
  /* color: white; */
  display: flex;
  justify-content: center;
}

.App {
  flex-direction: column;
  display: flex;
  justify-content: center;
  height: 80vh; 
  width: 100vw;
}

.GameOptions {
  display: flex;
  justify-content: space-around;
}

.RoomDetailsButtons {
  padding-top: 15px;
  display: flex;
  flex: 1;
  justify-content: space-around;
}

.RoomDetailsInputs {
  display: flex;
  width: 100%;
  justify-content: space-around;
}